@use "../common/mixins.scss";
@use "../common/variables.scss";

.header {
  font-family: variables.$font-secondary;
  font-size: 12px;
  line-height: 16px;
  background-color: variables.$white;
  color: variables.$base-color-text;
  position: relative;
  padding-right: 0;
  height: 60px;

  @media (min-width: variables.$tablet-width) {
    height: 80px;
  }
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__description {
  @media (min-width: variables.$desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 316px;
    gap: 20px;
  }
}

.header__title {
  display: none;

  @media (min-width: variables.$desktop-width) {
    display: block;
    font-family: variables.$font-primary;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: 40%;
  }
}
