@use "../common/mixins.scss";
@use "../common/variables.scss";

.range__min-interval,
.range__max-interval {
  font-family: $font-secondary;
  width: 118px;
  height: 40px;
  border: 2px solid variables.$color-secondary-lighter;
  border-radius: 4px;
  text-align: center;

  @media (min-width: variables.$tablet-width) {
    width: 88px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 134px;
  }
}

.range__control-dash {
  align-self: center;
  color: variables.$grey;
}

.range__wrapper-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range__scale {
  width: 100%;
  height: 2px;
  border: none;
  background-color: variables.$color-quaternary;
  margin-bottom: 24px;
  cursor: pointer;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 22px;
  }
}

.range__scale .range__bar {
  background: variables.$color-secondary-lighter;
}

.range__handle::after {
  display: none;
}

.range__scale .range__handle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid variables.$color-secondary-lighter;
  background-color: variables.$white;
  cursor: pointer;
}

.range__scale .range__handle--min {
  top: -10px;
}

.range__scale .range__handle--max {
  top: -12px;
}

.range__handle::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 2px;
  left: 2px;
}

.range__handle:hover::before,
.range__handle:focus::before {
  background-color: variables.$color-secondary-hover;
}

.range__handle:active::before {
  background-color: variables.$color-secondary;
}

.range__handle:disabled::before {
  background-color: transparent;
  border-color: variables.$grey;
}

.range__bar:disabled {
  background-color: variables.$grey;
}
